*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    float: left;
    height: 92.1vh;
    width: 200px;
  }

.text-center{
  align-items: center;
}

.hero-image img{
      max-width: 500px;
}

.hero {
  background-color: #f2f2f2;
  min-height: 90vh;
  width: calc(100%);
  padding: 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.hero-image {
  flex: 1;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
/* _________ */
.brcl{
  background-color: rgb(61, 61, 241);
  color: aliceblue;
  border: none;
  border-radius: 22px;
  padding: 8px;
  width: 60px;
  height:30px;
  margin-left: 5px;
}
.brcl1{
  background-color: rgb(241, 61, 73);
  color: aliceblue;
  border: rgb(202, 59, 59);
  border-radius: 22px;
  padding: 5px 5px;
  width: 100px; height:50px;
}
.sae{
  border-radius: 5px;
  height: 30px;
}
.scc{
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  background-color: rgb(80, 87, 117);
  color: aliceblue;
}
.brcl2{
  background-color: rgb(241, 130, 61);
  color: aliceblue;
  border: rgb(202, 161, 59);
  border-radius: 22px;
  padding: 6px;
  width: 60px;
  height:30px;
}
.brcl3{
  background-color: rgb(9, 110, 31);
  color: aliceblue;
  border: rgb(67, 169, 42);
  border-radius: 22px;
  padding: 6px;
  width: 60px; 
  height:30px;
}
/* css table */
.bangchinh {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.bangchinh th, .bangchinh td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.bangchinh th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.brcl3, .brcl, .brcl2 {
  background-color: #007bff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.brcl3:hover {
  background-color: #0056b3;
}

.brcl:hover {
  background-color: #28a745;
}

.brcl2:hover {
  background-color: #dc3545;
}

.brcl3 a, .brcl a, .brcl2 a {
  color: white;
  text-decoration: none;
}

.div1{
  text-transform: uppercase;
  height: 40px;
  font-size: 22px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.box_title{
  text-transform: uppercase;
  height: 40px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn_add-client{
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btn_add-client:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.btn_add-client:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

/* css cho admin */
.header {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.header .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .user-info a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 30px;
  font-size: 16px;
}

.header .user-info p {
  color: #fff;
  font-weight: bold;
  margin-right: 20px;
  font-size: 16px;
}


/* css thanh search */
.search-container {
  position: relative;
  display: inline-block;
}

.search-input {
  padding: 10px 40px 10px 15px;
  border: 1px solid #d1d5db; 
  border-radius: 15px;
  width: 224px;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  border-width: 2px;
  width: 256px; 
}

.search-button {
  position: absolute;
  top: 58%;
  right: 10px;
  background: none;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-icon {
  width: 22px;
  height: 22px;
  color: #6b7280; 
}


.input {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  color: #1f2937;
  font-size: 14px;
  border-radius: 8px;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
}
.input:focus {
  outline: none;
  border-color: #333;
  box-shadow: 0 0 0 1px #333;
}

.textarea {
  display: block;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  color: #1f2937; 
  background-color: #f9fafb; 
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.textarea:focus {
  outline: none;
  border-color: #3b82f6; 
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); 
}

.box_btn-add{
  float: right;
  margin: 0 0 16px 0; 
}

/* From Uiverse.io by andrew-demchenk0 */ 
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
  text-decoration: none;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #34974d;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}