
.product{
  margin-bottom: 50px;
}

.navigate-home{
  margin: 10px 0 20px 0;
}

.navigate-home a{
  text-decoration: none;
}

.product-info{
  display: flex;
}

.product-info img{
  width: 300px;
}

.product-info-detail{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-info-title{
  font-size: 20px;
  font-weight: 600;
}

.product-info-review i{
  color: rgb(236, 236, 108);
  font-size: 14px;
}

.product-info-price{
  display: flex;
  gap: 10px;
  align-items: center;
}

.product-info-price .new-price{
  color: red;
  font-size: 18px;
  font-weight: 600;
}

.product-info-price .old-price{
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
}

.product-btn{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.product-btn input{
  border-radius: 10px;
  outline: none;
  font-weight: 600;
  border: 0;
  padding: 10px;
  background-color: #b6dce9;
  cursor: pointer;
}

.product-description{
  margin: 30px 0 50px 0;
}

.product-description-title{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(161, 241, 241);
  padding: 5px 0;
  margin-bottom: 10px;
}

.product-description-content{
  line-height: 1.5;
}

.product-info-quantity__number{
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-info-quantity__number input{
  width: 30px;
  text-align: center;
  padding: 2px 0;
  outline: none;
  border: none;
}

.product-info-quantity__number span{
  border: 1px solid gray;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: rgb(221, 213, 213);
  cursor: pointer;
}