
.detail{
  margin-bottom: 50px !important;
  margin-top: 20px !important;
}

.detail-info{
  display: flex;
  gap: 30px;
}

.detail-info img{
  width: 300px;
}

.detail-info-detail{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-info-title{
  font-size: 20px;
  font-weight: 600;
}

.detail-info-review i{
  color: rgb(236, 236, 108);
  font-size: 14px;
}

.detail-info-price{
  display: flex;
  gap: 10px;
  align-items: center;
}

.detail-info-price .new-price{
  color: red;
  font-size: 18px;
  font-weight: 600;
}

.detail-info-price .old-price{
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
}

.detail-btn{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.detail-btn input{
  border-radius: 10px;
  outline: none;
  font-weight: 600;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

.detail-description{
  margin: 30px 0 50px 0;
}

.detail-description-title{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(161, 241, 241);
  padding: 5px 0;
  margin-bottom: 10px;
}

.detail-description-content{
  line-height: 1.5;
}

.detail-info-quantity__number{
  display: flex;
  align-items: center;
  gap: 5px;
}

.detail-info-quantity__number input{
  width: 30px;
  text-align: center;
  padding: 2px 0;
  outline: none;
  border: none;
}

.detail-info-quantity__number span{
  border: 1px solid gray;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: rgb(221, 213, 213);
  cursor: pointer;
}