#cart {
  /* margin-top: 500px; */
  border: 1px solid #ccc;
  padding: 10px;
  /* display: inherit; */

  max-width: 1200px;
  justify-content: center;
  align-items: center;
  text-align: center;
	margin: 0 auto;
	padding: 0 20px;
}
td img {
  width: 100px;
  height: 100px;
}
#cart h2 {
  margin: 20px 0;
  color:#f00;

}
.gia{
  color:#f00;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

#cart table th, #cart table td {
  border: 1px solid #ccc;
  padding: 5px;
}

#cart table th {
  text-align: left;
}

#cart table td input[type="number"] {
  width: 50px;
}

#cart table td:last-child {
  width: 80px;
  text-align: center;
}

#cart .total {
  text-align: right;
}

#cart .total p {
  margin-bottom: 5px;
}

#cart .total span {
  font-weight: bold;
  font-size: 18px;
}
#cart .update {
  padding: 10px;
  background-color: rgb(220, 84, 84);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttont{
  width: 300px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  background-color: rgb(82, 131, 237);
  border: none;
  cursor: pointer;
}
  
.total {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


input[type="text"], input[type="email"], select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}


button.checkout {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
  width: 100%;
}


button.checkout:hover {
  background-color: #45a049;
}


select {
  background-image: url("arrow.svg");
  background-position: right 8px center;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
}


select:focus {
  outline: none;
  box-shadow: 0px 0px 4px #4CAF50;
}

.remove {
  background-color: #5867f0;  
  color: #fff;
  width: 50px; 
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 25px;
 
}

.remove:hover {
  cursor: pointer;
  background-color: #990000; 
}

.countdown span{
  display: inline-block;
  background-color: rgb(221, 212, 212);
  padding: 2px 6px;
  text-align: center;
  border-radius: 5px;
  min-width: 24px;
  cursor: pointer;
}